.banner-container{
    background-color: lightgray;
    max-width: 1200px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.banner-right a{
    text-decoration: none;
}
.reverse{
    flex-direction: row-reverse;
}
.banner-image{
    width: 50%;
    height: 400px;
}
.banner-image img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.banner-right{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 110px;
}
.banner-title{
    font-weight: 700;
    font-size: 36px;
}
.banner-info{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}
.banner-button{
    background: black;
    color: white;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
}
@media (max-width: 890px) {
    .banner-right{
        padding: 0 40px;
    }
}
@media (max-width: 650px) {
    .banner-container{
        width: 100vw;
    }
    .banner-right{
        padding: 0 40px;
        width: 100%;
    }
    .banner-image{
        display: none;
    }
}