.cart-container{
    position: fixed;
    right: 2px;
    top: 110px;
    background: white;
    width: 500px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.2);
}
.cart-container.sticky{
    top: 60px;
}
.cart-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;
}
.cart-item{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.cart-top{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    position: sticky;
    top: -1px;
    z-index: 2;
    background: white;
}
.fa-xmark{
    cursor: pointer;
}
.cart-item img{
    height: 100px;
    width: 100px;
}
.cart-item i{
    position: absolute;
    right: 0;
    bottom: 16px;
    cursor: pointer;
    color: rgba(0,0,0,0.6);
}
.cart-item i:hover{
    cursor: pointer;
    color: black;
}
.cart-title{
    text-transform: capitalize;
    font-size: 16px;
}
.cart-item div{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 4px;
}
.cart-extra, .cart-size, .cart-price{
    color: rgba(0,0,0,0.6);
    font-size: 16px;
}
.cart-bottom{
    position: sticky;
    bottom: -1px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.cart-total{
    font-size: 20px;
}

@media (max-width:600px) {
    .cart-container{
        width: 100vw;
        max-height: 80vh;
        top: 0;
    }
    .cart-container.sticky{
        width: 100vw;
        max-height: 80vh;
        top: 0;
    }
}