*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body{
}

.container{
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 110px;
}

button{
  background: black;
  color: white;
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
button:hover{
  background: rgba(0,0,0,0.6);
}
@media (max-width:900px) {
  body{
  }
}